<div class="row">
    <h1>
        <%= title %>
    </h1>
    <a href="/oauth/auth/google" class="button">Login with google account</a>
    <a href="/oauth/auth/facebook" class="button">Login with facebook account</a>

</div>